@keyframes test {
    0%   {
        color: rgb(95, 255, 80);
    }
    25%  {
        color: rgb(68, 180, 58);

    }
    50%  {
        color: rgb(39, 104, 33);

    }
    75% {
        color: rgb(22, 63, 19);

    }
    100% {
        color: rgb(83, 224, 71);
    }
}

